.talkOfDay {
    margin-top: 20px;
}

h2 {
    display: block;
    padding: .5em 1em;
    width: 120px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background-color: rgba(60, 60, 60, .3);
    border-radius: 15px;
    margin: 0 auto .3em;
}

.balloons {
    display: flex;
    flex-direction: column;
}